# Web Scraping Homework - Mission to Mars

![mission_to_mars](Images/mission_to_mars.png)

In [6]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests, pymongo, time, os

In [7]:

#Setup configuration variables to enable Splinter to interact with browser 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\y2\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

## Step 1 - Scraping

Complete your initial scraping
Pandas, and Requests/Splinter.

### NASA Mars News
* Scrape the [Mars News Site](https://redplanetscience.com/) and 
collect the latest News Title and Paragraph Text.

In [8]:
def scrape_news(bro):
    
    # Visit the mars nasa news site
    # URL of page to be scraped
    url='https://redplanetscience.com/'

    # Use the browser to visit the url

    bro.visit(url)

    # Wait for 5 seconds for error purpouses
    time.sleep(5)

    # Return the rendered page by the browser
    html_nasa = bro.html

    # Use beatifulsoup to scrap the page rendered by the browser
    soup = BeautifulSoup(html_nasa, 'html.parser')

    # Search for the div where the title is located
    # Retrieve the news title
    results = soup.find_all('div', class_="content_title")
    news_title = results[0].text
    #?
    news_p = results[1].text
    #?    

    # Search for the div where the paragraph news is located
    results = soup.find_all('div', class_="article_teaser_body")
    new_p = results[0].text
    #print(f"Paragraph: {new_p}")

    # Step 1 - Scraping
    # Create a empty dictionary to store the data
    scraped_data = {
        'news_title':news_title,
        'news_p':news_p    

    }
    return scraped_data

In [12]:
def scrape_all(browser):
    this=scrape_news(browser)
    this_dict = {
        "news_title" : this['news_title'],
        "news_p" : this['news_p'],
# run scrape_feature function and store return as dict value
        "feature_image_url" : scrape_feature(browser) 
        
    }
    return this_dict

In [13]:
#print(scrape_all(browser))


### JPL Mars Space Images - Featured Image

* Visit the url for the Featured Space Image site [here](https://spaceimages

* Use splinter to navigate the site and find the image url for the current F
Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

```python
# Example:
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [14]:
def scrape_feature(brow):
    
    # URL for JPL Nasa websit-visit
    url_jpl = "https://www.spaceimages-mars.com"
    # Use the browser to visit the url
    brow.visit(url_jpl) 

    full_image_elem = browser.find_by_tag('button')[1]
    full_image_elem.click()

    html_jpl = brow.html
    soup = BeautifulSoup(html_jpl, 'html.parser')

    # Featured image is in the div class="???"
    space_images = soup.find('img', class_="fancybox-image").get("src")
    
    # The url for JPL Featured Space Image - at end

    # Full url
    feature_image_url = f"{url_jpl}{space_images}"

    return feature_image_url

### Mars Facts

* Visit the Mars Facts webpage [here](https://galaxyfact
the table containing facts about the planet including Di

* Use Pandas to convert the data to a HTML table string.

In [15]:
# URL
url_mars_facts = "https://space-facts.com/mars/"

In [16]:
# Use Pandas to automatically scrape any tabular data from a page.
mars_facts = pd.read_html(url_mars_facts)
mars_df = mars_facts[1]
(mars_df)
#How many tables are available
#len(mars_facts)

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [17]:
mars_df.colums=['Mars - Earth Comparison','Mars','Earth']
mars_df.set_index('Mars - Earth Comparison',inplace=True)
mars_df

<ipython-input-17-608bc50bf2b9>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  mars_df.colums=['Mars - Earth Comparison','Mars','Earth']

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

* Visit the astrogeology site [here](https://marshemispheres.com/) to 
obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order 
to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere 
image, and the Hemisphere title containing the hemisphere name. Use a 
Python dictionary to store the data using the keys `img_url` and 
`title`.

* Append the dictionary with the image url string and the hemisphere 
title to a list. This list will contain one dictionary for each 
hemisphere.

In [19]:
# URL of page to be scraped
url_mars_hemispheres='https://marshemispheres.com/'

# Use the browser to visit the url
browser.visit(url_mars_hemispheres)

In [20]:
browser.find_by_css('a.product-item img')[0].click()

In [21]:
browser.find_by_css('h2.title').text

'Cerberus Hemisphere Enhanced'

In [22]:
sample['href']

NameError: name 'sample' is not defined

In [23]:
browser.back()

In [24]:
# Create a list with the name of the hemispheres
list_hemispheres = []

links=browser.find_by_css('a.product-item img')


for i in range(len(links)):
    hemis={}
    browser.find_by_css('a.product-item img')[i].click()
    sample=browser.links.find_by_text('Sample').first
    hemis['url']=sample['href']
    hemis['title']=browser.find_by_css('h2.title').text
    
    list_hemispheres.append(hemis)
    browser.back()

In [25]:
list_hemispheres

[{'url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [26]:
# When you’ve finished testing, close your browser using browser.quit:
browser.quit()